@font-face {
    font-family: 'FC Bayern Sans';
    src: url('FCBayernSans-Regular.eot');
    src: url('FCBayernSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('FCBayernSans-Regular.woff2') format('woff2'),
        url('FCBayernSans-Regular.woff') format('woff'),
        url('FCBayernSans-Regular.ttf') format('truetype'),
        url('FCBayernSans-Regular.svg#FCBayernSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FC Bayern Sans';
    src: url('FCBayernSans-Bold.eot');
    src: url('FCBayernSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('FCBayernSans-Bold.woff2') format('woff2'),
        url('FCBayernSans-Bold.woff') format('woff'),
        url('FCBayernSans-Bold.ttf') format('truetype'),
        url('FCBayernSans-Bold.svg#FCBayernSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

